{% extends 'base.html.twig' %}

{% block title %}Welcome!
{% endblock %}

{% block body %}
	<div class="bas">
	{% for article in articles %}
		{# {{ dump(article)}} #}
		<article>
               {# <img src="https://picsum.photos/300/200?random=1"> #}
			 {% for image in article.images %} 
                        <figure class="container-img">
                            <img class="img_article" src="{{asset('uploads/' ~ image.name) }}">
                        </figure>
                    {% endfor %} 
			
			<a href=" {{ path('detail_article', {'id': article.id}) }}" style="text-decoration: none;">
				<h1>{{ article.name }}</h1>
			</a>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('edit-article', {id : article.id}) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
			<a href="{{ path('delete-article', {id : article.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
		{% endif %}
		</article>
					

		{% endfor %}
	</div>
</div>{% endblock %}
