{% extends 'base.html.twig' %}

{% block title %}Welcome!
{% endblock %}

{% block body %}
	<div class="haut">
	  	<ul>
		 	<li><a href="">Acceuil</a></li>
               <li><a href="">Ajouter</a></li>
               <li><a href="">A propos</a></li>
          </ul>
	</div>
	<div class="bas">
	{% for article in articles %}
		{# {{ dump(article)}} #}
		<article>
			<a href=" {{ path('detail_article', {id:article.name}) }}">
				<h1>{{ article.name }}</h1>
			</a>
			<a href="{{ path('edit-article', {id : article.id}) }}" class="btn btn-warning">Modifier</a>
			<a href="{{ path('delete-article', {id : article.id}) }}" class="btn btn-danger">Supprimer</a>
		</article>
		{% endfor %}
	</div>
</div>{% endblock %}
