{% extends 'base.html.twig' %}

{% block title %}
	Ajouter un article
{% endblock %}

{% block body %}


	<div class="container">
		<h1>
			Ajouter un article
		</h1>
		{{form(form)}}
		{# {{ form_start(form) }} #}
			{# {{ form_widget(form) }} #}

				{# Si la route est "annonces_edit on affiche les images #}
					{# {% if app.request.attributes.get('_route') == 'annonces_edit' %}
						<h2>Images</h2>
						{% for image in annonce.images %}
							<div>
								<img src="{{ asset('/uploads/'~image.name) }}" alt="" width="150">

								{# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
								{# <a href="{{ path('annonces_delete_image', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a> #}
							{# </div> #}
						{# {% endfor %} #}
					{# {% endif %} #} 
				{# <button class="btn">{{ button_label|default('Save') }}</button> #}
		{# {{ form_end(form) }} #}

		</div>


		{# {{ form_start(form) }}
																			
		<div class="row mt-4">
			<div class="col">
				{{ form_label(form.name, 'Nom de l\'article') }}
					{{ form_widget(form.name) }}
					</div>
				</div>
				<div class="row">
		
				<div class="col">
				{{ form_row(form.price, {'attr': {'class': 'priceColor'}}) }}
				</div>
				<div class="col">
				{{ form_row(form.date) }}
				</div>
				<div class="col">
				{{ form_row(form.description) }}
				</div>
				
				</div>
		{{ form_end(form) }} #}

	{% endblock %}
