{% extends 'base.html.twig' %}

{% block title %}détails article
{% endblock %}

{% block body %}
     <div class="detail">
          {# {{ dump(article) }} #}
          <div>
           {% for image in article.images %} 
               <figure class="container-img">
                    <img class="img_article" src="{{asset('uploads/' ~ image.name) }}">
               </figure>
          {% endfor %} 
          </div>
          <div>
               <h2>{{ article.name }}</h2>
               <h5>{{ article.price }} €</h5>
               <p>{{ article.description }}</p>
          </div>        
          {# <h6>{{ article.category }}</h6> #}
     </div>
     <div class="container">
          <h2>Espace Commentaire</h2>
          {# {% if is_granted('ROLE_ADMIN') %} #}
               {# {{form(form)}} #}
          {# {% elseif is_granted('ROLE_USER') %} #}
               {# {{form(form)}} #}
          {# {% endif %} #}
          {# {% if article.id == article.commantaire.id %} #}

               {# {% for commentaire in commentaires %}
                         <p>{{ commentaire.avis}}</p>
               {% endfor %}  #}
               {# {% endif %}                   #}

     </div>
{% endblock %}


