{% extends 'base.html.twig' %}

{% block title %}détails article
{% endblock %}

{% block body %}
     <div class="detail">
          {# {{ dump(article) }} #}
          <div>
           {% for image in article.images %} 
               <figure class="container-img">
                    <img class="img_article" src="{{'uploads/' ~ image.name }}">
               </figure>
          {% endfor %} 
          </div>
          <div>
               <h2>{{ article.name }}</h2>
               <h5>{{ article.price }} €</h5>
               <p>{{ article.description }}</p>
          </div>        
          {# <h6>{{ article.category }}</h6> #}
     </div>
{% endblock %}


